  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float:none;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .resultpara
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 
  .resultpara span{
    white-space:pre-line;
  }

  .copy_right_footer{ 
    position:fixed;
    color:lawngreen;
    bottom:0;
    width:100%;
    background-color: rgba(0, 128, 128, 0.89);
    line-height: 3;
    text-align: center;
  }

  canvas{
    border:5px solid rgb(110, 196, 211);
    margin-top: 130px;
  }